.cast-list {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 18px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 320px) {
  .cast-list {
    grid-template-columns: repeat(auto-fill, minmax(112px, 1fr));
    grid-gap: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .cast-list {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 24px;
  }
}

.cast-item {
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 400px;
}

.actor-image {
  width: 100%;
  flex-grow: 1;
  object-fit: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.details {
  min-height: 120px;
  height: fit-content;
  margin-right: 1px;
  margin-bottom: 1px;
  margin-left: 1px;
  /* padding: 12px 8px 8px 8px; // for cards with bordered style */
  padding: 12px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
  color: var(--color-text-white);
}

@media only screen and (min-width: 576px) {
  .details {
    font-size: 16px;
  }
}

.name {
  font-weight: 700;
}

.character {
  display: flex;
  flex-direction: column;
}