.list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.item {
  padding: 16px 16px;
  border-radius: 8px;
  color: var(--color-text-white);
}

.review-details {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media only screen and (min-width: 576px) {
  .review-details {
    flex-direction: row;
    align-items: baseline;
    column-gap: 8px;
    flex-wrap: wrap;
  }
}

.author {
  font-weight: 700;
}

.date-time {
  font-size: 14px;
}